<%  include ./partials/header.ejs %>

<div class="w-full h-screen  bg-[url(https://images.unsplash.com/photo-1707573090083-724caa175c5c?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover bg-center flex items-center justify-center" >
  <div class="w-[28.7vw] h-auto bg-white px-20 py-5 rounded-md">
    <h1 class="text-3xl mt-3 mb-9 text-center font-semibold text-zinc-700 tracking-tighter leading-none">Welcome To DigiDope.</h1>
    <form action="/login" method="post">
      <input class="border-2 rounded-md mt-2 block  w-full px-3 py-2" type="text" name="username" placeholder="username">
      <input class="border-2 rounded-md mt-2 block  w-full px-3 py-2" type="password" name="password" placeholder="password">
      <a class="mt-2 font-semibold text-zinc-500 inline-block"  href="#"> Forgot password ?</a>
      <input class="border-2 rounded-full mt-2 block w-full px-3 py-2 bg-red-600 text-white " type="submit" value="Login">
      <p class="text-xl mt-4  text-zinc-700 text-center font-semibold">OR</p>
      <a class="border-2 rounded-full mt-4 block w-full px-3 py-2 bg-blue-600 text-white text-center " href="/admin/login">Login As Admin</a>
      <p class="text-xs mt-8 mx-auto w-3/4 text-zinc-500 text-center ">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge you've read our Privacy Policy; Opens a new tab. Notice at collection; Opens a new tab.</p>
    </form>
    <a class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full" href="/register">Dont Have An Account !</a>
    <a class="inline-block mt-7 text-sm font-semibold text-zinc-700 text-center w-full" href="/admin/login">Login as Admin</a>
  </div>
</div>

<%  include ./partials/footer.ejs %>
  
